{% include('partial/header.twig') %}

<div class="boot">
    <div>
        <h1><a href="{{ path_for('categorie') }}">Catégorie</a></h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Legende</th>
                        <th scope="col">Contenue</th>
                        <th scope="col">Lien</th>
                        <th scope="col">Cover</th>
                    </tr>
                </thead>
                <tbody>
                    {% for _categorie in categories %}
                        <tr>
                            {% if _categorie.id == 1 %}
                            <th scope="row">Home</th>
                            {% else %}
                            <th scope="row"><a href="{{ path_for('delete', {categorie: 'categorie' , delete: _categorie.id }) }}">X</a></th>
                            {% endif %}
                            <th scope="row" class="classement">
                                <a class="up" href="{{ path_for('change', {categorie: 'categorie' , change: _categorie.classement , type: '0' }) }}"></a>
                                <a class="down" href="{{ path_for('change', {categorie: 'categorie' , change: _categorie.classement , type: '1' }) }}"></a>
                            </th>
                            <td>{{ _categorie.categorie_name }}</td>
                            <td>{{ _categorie.categorie_legend }}</td>
                            <td class="modif">{{ _categorie.categorie_content }}</td>
                            <td>{{ _categorie.categorie_link }}</td>
                            <td>{{ _categorie.categorie_image }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h1><a href="{{ path_for('video') }}">Vidéo</a></h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Liens</th>
                        <th scope="col">Description</th>
                        <th scope="col">Fallback</th>
                    </tr>
                </thead>
                <tbody>
                    {% for _video in videos %}
                        <tr>
                            <th scope="row"><a href="{{ path_for('delete', {categorie: 'item' , delete: _video.id }) }}">X</a></th>
                            <th scope="row" class="classement">
                                <a class="up" href="{{ path_for('change', {categorie: 'item' , change: _video.classement , type: '0' }) }}"></a>
                                <a class="down" href="{{ path_for('change', {categorie: 'item' , change: _video.classement , type: '1' }) }}"></a>
                            </th>
                            <td>{{ _video.video_name }}</td>
                            <td>{{ _video.video_categorie }}</td>
                            <td>{{ _video.video_url }}<br>{{ _video.video_poster }}</td>
                            <td class="modif">{{ _video.video_description }}</td>
                            <td>{{ _video.video_fallback }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include('partial/footer.twig') %}