<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style/{{ style }}.css">
    <link rel="stylesheet" href="../assets/style/list.css">
</head>
<body>
    <ul>
        <li><a href="{{ path_for('register') }}">Inscription</a></li>
        <li><a href="{{ path_for('login') }}">Login</a></li>
        <li><a href="{{ path_for('adminpage') }}">Private</a></li>
        <li class="right"><a href="{{ path_for('logout') }}">Logout</a></li>
    </ul>