{% include('partials/header.twig') %}

<div class="presentation">
    <h1>Cesar Cadene</h1>
    {% for _categorie in categories %}
        {% if _categorie.categorie_name == 'Home' %}
        <h2>{{ _categorie.categorie_content }}</h2>
        {% endif %}
    {% endfor %}
    <div class="social">
            <a target="_blank" href="http://www.instagram.com/cesar_cadene"><img src="../assets/image/icone_instagram.svg" alt="Icone Instagram"></a>
            <a target="_blank" href="http://www.youtube.com/channel/UCc3qIM6Sp0ukpDpz2IjlG-A"><img src="../assets/image/icone_youtube.svg" alt="Icone Youtube"></a>
    </div>
    <svg class="arrows">
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
</div>

{% for _categorie in categories %}
    {% if _categorie.categorie_name != 'Home' %}
    <article onclick="window.location='{{ _categorie.categorie_link }}'">
        <div class="cover">
            <img src="../assets/image/{{ _categorie.categorie_image }}">
        </div>
        <div class="title">
            <h3>{{ _categorie.categorie_name }}</h3>
            <span>{{ _categorie.categorie_legend }}</span>
        </div>
    </article>
    {% endif %}
{% endfor %}

{% include('partials/footer.twig') %}